# PlatformIO build files
.pio/
.pioenvs/
.piolibdeps/

# Rust build target
**/target/
target/

# Python cache & virtual environment
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
.env

# IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
